name: Rust2

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always
  # https://github.com/mozilla/sccache/blob/main/docs/GHA.md
  SCCACHE_GHA_ENABLED: on
  RUST_BACKTRACE: 1

jobs:
  build:
    name: Rust3
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    concurrency:
      # https://docs.github.com/en/actions/how-tos/write-workflows/choose-when-workflows-run/control-workflow-concurrency
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.task }}
      # Cancel any in-progress jobs in this group to avoid wasting time on obsolete commits
      cancel-in-progress: true
    strategy:
      # https://docs.github.com/en/actions/how-tos/write-workflows/choose-what-workflows-do/run-job-variations
      matrix:
        task: [ cargo_test, cargo_lint ]

    env:
      SCCACHE_VERSION: "v0.12.0"
      SCCACHE_FILENAME: "sccache-v0.12.0-x86_64-unknown-linux-musl.tar.gz"

    steps:
    - uses: actions/checkout@v4

    - name: Cache sccache download
      uses: actions/cache@v4
      with:
        path: |
          ${{ env.SCCACHE_FILENAME }}
        key: ${{ env.SCCACHE_FILENAME }}

    - name: Install sccache
      run: |
        set -e
        if [ ! -f "${{ env.SCCACHE_FILENAME }}" ]; then
          wget https://github.com/mozilla/sccache/releases/download/${{ env.SCCACHE_VERSION }}/${{ env.SCCACHE_FILENAME }}
        fi
        tar -xzf ${{ env.SCCACHE_FILENAME }}
        sudo mv sccache-${{ env.SCCACHE_VERSION }}-x86_64-unknown-linux-musl/sccache /usr/local/bin/
        sccache --version

    # magic to make sccache work with GitHub Actions
    # (copied from https://github.com/mozilla/sccache/blob/9fb942eec53fb67ac05dfaf73ee7ed6f87388bf2/docs/GHA.md)
    - name: Configure sccache
      uses: actions/github-script@v7
      with:
        script: |
          core.exportVariable('ACTIONS_RESULTS_URL', process.env.ACTIONS_RESULTS_URL || '');
          core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

    - name: Cache Rust toolset
      uses: actions/cache@v4
      with:
        path: |
          ~/.rustup
        key: rust-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('**/rust-toolchain.toml') }}

    - name: Cache Cargo output
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          ~/.cargo/.crates.toml
          ~/.cargo/.crates2.json
          target/
          target-coverage/
        # separate cache entries for test and lint because they run in parallel
        key: cargo-${{ matrix.task }}-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('**/Cargo.lock', 'scripts/install_cargo-tarpaulin.sh', 'scripts/coverage.sh', 'scripts/build_fuzz.sh', '**/rust-toolchain.toml') }}

    ########################
    # task cargo_test begin
    - name: Run tests with coverage
      if: matrix.task == 'cargo_test'
      run: ./coverage.sh

    - name: Coveralls
      if: matrix.task == 'cargo_test'
      uses: coverallsapp/github-action@v2
      with:
        file: target-coverage/lcov.info
        format: lcov
    # task cargo_test end
    ######################

    ########################
    # task cargo_lint begin
    - name: Check code linting
      if: matrix.task == 'cargo_lint'
      run: ./clippy.sh

    - name: Check code formatting
      if: matrix.task == 'cargo_lint'
      run: cargo fmt --all -- --check

    - name: Fuzzing
      if: matrix.task == 'cargo_lint'
      run: ./quick_fuzzing.sh
    # task cargo_lint end
    ######################

    - name: sccache stats
      run: sccache --show-adv-stats
